<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post">
        <div>
            <label>Name: </label>
            <input type="text" name="cheeseName" />
        </div>
        <div>
            <label>Description: </label>
            <input type="text" name="cheeseDescription" />
        </div>
        <input type="submit" value="Add Cheese" />
    </form>
</body>
</html>