<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

    <form method="post">
        <ul>
            <li th:each="cheese : ${cheeses}">
                <label th:text="${cheese.key}"></label>
                <input type="checkbox" name="cheeseList" th:attr="value=${cheese.key}" />
            </li>
        </ul>
        <input type="submit" value="Remove Cheeses" />
    </form>
</body>
</html>